<!DOCTYPE html>
<html>
  <head>
    <title>QrCodeDemo</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
  </head>

  <body ng-app="qrCodeApp" ng-strict-di>
    <%= render 'layouts/header' %>
    <%= yield %>
  </body>
</html>
